@using Web.Models.SearchItems
@using BloodSearch.Models.Api.Models.Offers;
@using BloodSearch.Core.Extensions;

@model SearchItemsIndexResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Поиск объявлений — BloodSearch.com</title>
    <link rel="stylesheet" href="/content/css/styles.css" type="text/css" media="screen, projection" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/Pages/SearchItems/search-filter-back-scroll.js"></script>
</head>
<body>
    @Html.Partial("_Header", 2)
    <main>
        <div class="wrap">
            <div class="search">
                <h2>Всего найдено @Model.TotalCount объявления</h2>
            </div>

            <div class="frame shadow search main-filters">
                <div class="search-content">
                    <h2 class="search-title">Фильтр</h2>
                    <form method="get" action="/search">
                        <div class="search-row">

                            <div class="search-row__item">
                                <select name="Type">
                                    <option disabled>Выберите тип объявления</option>
                                    <option @(Model.Filter.Type == OfferTypeEnum.Donor ? Html.Raw("selected") : Html.Raw("")) value="donor">Донор</option>
                                    <option @(Model.Filter.Type == OfferTypeEnum.Recipient ? Html.Raw("selected") : Html.Raw("")) value="recipient">Реципиент</option>
                                </select>
                            </div>
                            <div class="search-row__item">
                                <select name="Cat">
                                    <option selected disabled>Выберите группу крови</option>
                                    <option value="1">O(I) Rh−</option>
                                    <option value="2">O(I) Rh+</option>
                                    <option value="3">A(II) Rh−</option>
                                    <option value="4">A(II) Rh+</option>
                                    <option value="5">B(III) Rh-</option>
                                    <option value="6">B(III) Rh+</option>
                                    <option value="7">AB(IV) Rh−</option>
                                    <option value="8">AB(IV) Rh+</option>
                                </select>
                            </div>
                            <div class="search-row__item">
                                <select name="Ct">
                                    <option selected disabled>Выберите город</option>
                                    <option value="1">Москва</option>
                                    <option value="31">Белгород</option>
                                </select>
                            </div>
                            <div class="search-row__item">
                                <input type="submit" class="btn btn--red search-btn" value="Поиск" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <ul class="listing">
                    @foreach (var item in Model.Items) {
                        <li class="listing__item">
                            <a href="/item/@item.Id" class="offer-snippet">
                                <div class="offer-snippet-gallery">
                                    @if (item.Type == OfferTypeEnum.Donor) {
                                        <img src="~/Content/img/donor.jpg" alt="" class="offer-snippet-gallery__img" style="width:225px; height: 225px;">
                                    } else {
                                        <img src="~/Content/img/recipient.jpg" alt="" class="offer-snippet-gallery__img" style="width:225px; height: 225px;">
                                    }
                                </div>

                                <div class="offer-snippet__content-box">
                                    <div class="offer-snippet__content">
                                        @if (item.Type == OfferTypeEnum.Donor) {
                                            <h3>Донор крови</h3>
                                        } else {
                                            <h3>Реципиенту требуется донор</h3>
                                        }

                                        <p class="field">Категория крови: <span>@item.Offer.Category.ToEnumString()</span></p>
                                        <p class="field">Дата обращения: <span>@item.CreatedDate.ToLongDateString()</span></p>

                                        <p class="field">@item.Offer.Description</p>

                                        @*<span>Сроки: 05.05.2017-06.06.2017</span>*@
                                    </div>
                                    <div class="offer-snippet__footer">
                                        <p>Адрес: <span>@item.Offer.GeoCoderMeta.FormattedAddress</span></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>

            @*<aside class="right-column2">
                    <div class="btn btn--red back-to-filters"><span>Вернуться к фильтру</span></div>
                </aside>*@

            <div class="frame">
                @if (Model.PagingFilter.MaxPageNumber > 1) {
                    @Html.Partial("_PaginationPartial", Model)
                }
            </div>
        </div>
    </main>

    @Html.Partial("_Footer")

    <style>
        .field {
            margin-top: 15px;
        }
    </style>

    <script>
        $(function () {

        });
    </script>
</body>
</html>