@using Web.Models.SearchItems;

@model SearchItemsIndexResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BloodSearch.com</title>
    <link rel="stylesheet" href="/content/css/styles.css" type="text/css" media="screen, projection" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
</head>
<body>
    @Html.Partial("_Header")
    <main>
        <div class="wrap">

            <div class="search frame shadow">
                <span>Фильтр</span>
                <span>Всего найдено @Model.TotalCount объявлений</span>
            </div>

            @foreach (var item in Model.Items) {
                <div class="search frame shadow">
                    <a href="/item/@item.Id">
                        @item.Offer.City
                        @item.Offer.Contact
                        @item.Offer.Category
                    </a>
                </div>
            }

            <div class="frame">
                @if (Model.PagingFilter.MaxPageNumber > 1) {
                    @Html.Partial("_PaginationPartial", Model)
                }
            </div>
        </div>
    </main>

    @Html.Partial("_Footer")

    <script>
        $(function () {

        });
    </script>
</body>
</html>