@using Web.Models.SearchItems;
@using BloodSearch.Models.Api.Models.Offers;

@model SearchItemsIndexResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BloodSearch.com</title>
    <link rel="stylesheet" href="/content/css/styles.css" type="text/css" media="screen, projection" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
</head>
<body>
    @Html.Partial("_Header")
    <main>
        <div class="wrap">
            <div class="search frame shadow">
                <span>Фильтр</span>
                <span>Всего найдено @Model.TotalCount объявлений</span>
                <span>Сортировка</span>
            </div>

            <ul class="listing">
                @foreach (var item in Model.Items) {
                    <li class="listing__item">
                        <a href="/item/@item.Id" class="offer-snippet">
                            <div class="offer-snippet__content-box">
                                <div class="offer-snippet__content">
                                    @if (item.Type == OfferTypeEnum.Donor) {
                                        <h3>Донор</h3>
                                    } else {
                                        <h3>Реципиент</h3>
                                    }
                                    <span>@item.Offer.Category</span>
                                    <p>@item.Offer.Description</p>
                                </div>
                                <div class="offer-snippet__footer">
                                    <span>Код региона: @item.Offer.City</span>
                                </div>
                            </div>
                        </a>
                    </li>
                }
            </ul>

            <div class="frame">
                @if (Model.PagingFilter.MaxPageNumber > 1) {
                    @Html.Partial("_PaginationPartial", Model)
                }
            </div>
        </div>
    </main>

    @Html.Partial("_Footer")

    <script>
        $(function () {

        });
    </script>
</body>
</html>