@using Web.Models.Account
@using BloodSearch.Models.Api.Models.Offers;
@using BloodSearch.Core.Extensions;

@model AdminPanelResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Панель администратора — BloodSearch.com</title>
    <link rel="stylesheet" href="/content/css/styles.css" type="text/css" media="screen, projection" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
</head>
<body>
    @Html.Partial("_Header", 0)
    <main>
        <div class="wrap">
            <div class="offers">
                <h1 class="offers__title">@Model.TotalCount не проверенных объявлений</h1>
                <ul class="listing">
                    @foreach (var item in Model.Items) {
                        <li class="listing__item">
                            <div class="offer-snippet">
                                <div class="offer-snippet-gallery">
                                    @if (item.Type == OfferTypeEnum.Donor) {
                                        <img src="~/Content/img/donor.jpg" alt="" class="offer-snippet-gallery__img" style="width:225px; height: 225px;">
                                    } else {
                                        <img src="~/Content/img/recipient.jpg" alt="" class="offer-snippet-gallery__img" style="width:225px; height: 225px;">
                                    }
                                </div>

                                <div class="offer-snippet__content-box">
                                    <div class="offer-snippet__content">
                                        @if (item.Type == OfferTypeEnum.Donor) {
                                            <h3>Донор крови</h3>
                                        } else {
                                            <h3>Реципиенту требуется донор</h3>
                                        }

                                        <p class="offers__field">Категория крови: <span>@item.Offer.Category.ToEnumString()</span></p>
                                        <p class="offers__field">Дата обращения: <span>@item.CreatedDate.ToLongDateString()</span></p>
                                        <p class="offers__field">@item.Offer.Description</p>
                                    </div>
                                    <div class="offer-snippet__footer">
                                        <p>Адрес: <span>@item.Offer.GeoAddress.Address</span></p>
                                        <div class="offers__link-box">
                                            <div class="offers__link-box__item">
                                                <a href="/item/@item.Id/">Открыть</a>
                                            </div>
                                            <div class="offers__link-box__item" id="box-@item.Id">
                                                <span class="offers__link-box__link publish" data-id="@item.Id">Подтвердить объявление</span>
                                                <span>&nbsp;/&nbsp;</span>
                                                <span class="offers__link-box__link delete" data-id="@item.Id">Снять объявление</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </main>

    @Html.Partial("_Footer")

    <script>
        $(function () {
            $('.publish').click(function () {
                var id = $(this).attr('data-id');
                $.get('/api/account/publishitem?offerId=' + id, function (result) {
                    if (result.success) {
                        $('#box-' + id).html('<span>Объявление подтверждено</span>');
                    }
                    else {
                        $('#box-' + id).html('<span>Не удалось подтвердить объявление</span>');
                    }
                });

            });

            $('.delete').click(function () {
                var id = $(this).attr('data-id');
                $.get('/api/account/deleteitem?offerId=' + id, function (result) {
                    if (result.success) {
                        $('#box-' + id).html('<span>Объявление снято с публикации</span>');
                    }
                    else {
                        $('#box-' + id).html('<span>Не удалось снять объявление с публикации</span>');
                    }
                });
            });
        });
    </script>
</body>
</html>