@using BloodSearch.Models.Api.Models.Offers.Requests;
@using BloodSearch.Models.Api.Models.Offers;
@using BloodSearch.Core.Extensions;

@model GetOfferResult

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Объявление №@Model.Id — BloodSearch.com</title>
    <link rel="stylesheet" href="/content/css/styles.css" type="text/css" media="screen, projection" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;load=package.full"></script>
</head>
<body>
    @Html.Partial("_Header", 0)
    <main>
        <div class="wrap">
            <div class="offer__card">
                <div>
                    <div class="offer__header">
                        @if (Model.Type == OfferTypeEnum.Donor) {
                            <h1 class="offer__title">Донор</h1>
                        } else {
                            <h1 class="offer__title">Реципиент</h1>
                        }
                    </div>

                    @if (Model.State == OfferStateEnum.Deleted) {
                        <h2>Объявление снято с публикации</h2>
                    }

                    <div class="">
                        <p>Вес: @Model.Offer.Weight</p>
                    </div>

                    <div class="">
                        <p>Возраст: @Model.Offer.DateOfBirth</p>
                    </div>

                    <div class="]">
                        <p>Категория крови: @Model.Offer.Category.ToEnumString()</p>
                    </div>

                    <div class="offer__description">
                        <p>@Model.Offer.Description</p>
                    </div>

                    <div class="offer__phone-box">
                        <div class="offer__phone-contact">
                            <p class="mb10">@Model.Offer.ContactName</p>
                            <span class="offer__phone-link print-bold">@Model.Offer.Phone.FormatedNumber</span>
                            <span class="offer__phone-link print-bold">@Model.Offer.Email</span>
                        </div>
                    </div>
                </div>

                <div class="map-box">
                    <span>Ближайшие пункты для сдачи крови</span>
                    <div id="myMap" class="map"></div>
                </div>
            </div>
        </div>
    </main>

    @Html.Partial("_Footer")

    <style>
        .map-box {
            border-top: 1px solid #808080;
            margin-top: 2rem;
            padding-top: 2rem;
        }

        .map {
            margin-top: 1rem;
            height: 50rem;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            ymaps.ready(function () {
                myMap = new ymaps.Map("myMap", {
                    center: [@Model.Offer.GeoAddress.Point.Lat, @Model.Offer.GeoAddress.Point.Lng],
                    zoom: 10
                });

                var searchControl = new ymaps.control.SearchControl({
                    options: {
                        provider: 'yandex#search'
                    }
                });

                myMap.controls.add(searchControl);

                searchControl.search('Пункты сдачи крови');
            });
        });
    </script>
</body>
</html>