@using Web.Models;
@using BloodSearch.Models.Api.Models.Offers;

@model AddItemRequest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Подача объявления — BloodSearch.com</title>
    <link rel="stylesheet" href="/content/css/styles.css" type="text/css" media="screen, projection" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;load=package.full"></script>
</head>
<body>

    @Html.Partial("_Header", 0)

    <main>
        <div class="wrap">
            <div class="frame shadow form-additem">

                <h1>Разместить объявление</h1>

                <div class="form-additem__group">
                    <div class="form-additem__group-row">
                        <div class="form-additem__group-row__col">
                            <label for="name" class="">Имя:</label>
                        </div>
                        <div class="form-additem__group-row__col">
                            <input id="name" name="name" type="text" value="@Model.Name" />
                        </div>
                    </div>
                </div>

                <div class="form-additem__group">
                    <div class="form-additem__group-row">
                        <div class="form-additem__group-row__col">
                            <label for="type" class="">Тип объявления:</label>
                        </div>
                        <div class="form-additem__group-row__col">
                            <span><input type="radio" name="type" value="donor" @(Model.Type == OfferTypeEnum.Donor ? "checked" : "") />Донор</span>
                            <span><input type="radio" name="type" value="recipient" @(Model.Type == OfferTypeEnum.Recipient ? "checked" : "") />Реципиент</span>
                        </div>
                    </div>
                </div>

                <div class="form-additem__group">
                    <label for="category" class="">Категория крови:</label>
                    <select id="category" name="category">
                        <option disabled>Выберите группу крови</option>
                        <option value="1" @((int)Model.Category == 1 ? "selected" : "")>O(I) Rh−</option>
                        <option value="2" @((int)Model.Category == 2 ? "selected" : "")>O(I) Rh+</option>
                        <option value="3" @((int)Model.Category == 3 ? "selected" : "")>A(II) Rh−</option>
                        <option value="4" @((int)Model.Category == 4 ? "selected" : "")>A(II) Rh+</option>
                        <option value="5" @((int)Model.Category == 5 ? "selected" : "")>B(III) Rh−<</option>
                        <option value="6" @((int)Model.Category == 6 ? "selected" : "")>B(III) Rh+</option>
                        <option value="7" @((int)Model.Category == 7 ? "selected" : "")>AB(IV) Rh−</option>
                        <option value="8" @((int)Model.Category == 8 ? "selected" : "")>AB(IV) Rh+</option>
                    </select>
                </div>

                <div class="form-additem__group">
                    <label for="DateOfBirth" class="">Дата рождения:</label>
                    <input id="DateOfBirth" name="DateOfBirth" type="date" value="@Model.DateOfBirth.ToShortDateString()" />
                </div>

                <div class="form-additem__group">
                    <label for="Weight" class="">Вес:</label>
                    <input id="Weight" name="Weight" type="text" value="@Model.Weight" />
                </div>

                <div class="form-additem__group">
                    <label for="Description" class="">Описание:</label>
                    <textarea name="Description">@Model.Description</textarea>
                </div>

                <div class="form-additem__group">
                    <label for="Phone" class="">Телефон:</label>
                    <input id="Phone" name="Phone" type="text" value="@Model.Phone" />
                </div>

                <div class="form-additem__group">
                    <label for="Email" class="">E-mail:</label>
                    <input id="Email" name="Email" type="text" value="@Model.Email" />
                </div>

                <div class="">
                    @*@Model.GeoCoderMeta*@
                </div>

                <div>
                    <div id="myMap"></div>
                </div>
            </div>
        </div>
    </main>

    @Html.Partial("_Footer")

    @*<script type="text/javascript">
            $(function () {
                ymaps.ready(function () {
                    myMap = new ymaps.Map("myMap", {
                        center: [50.595660, 36.587223],
                        zoom: 10
                    });

                    var searchControl = new ymaps.control.SearchControl({
                        options: {
                            provider: 'yandex#search'
                        }
                    });

                    myMap.controls.add(searchControl);

                    searchControl.search('Пункты сдачи крови');
                });
            });
        </script>*@
</body>
</html>